body {
  background-color: white;
}
p.center {
  text-align: center;
  padding-top: 20px;
}

footer.bottom-fixed {
  position: fixed;
  bottom: 0px;
  left: 0px;
}
.bottom-fixed > p:last-of-type {
  text-align: justify;
}

#google-image {
  display: block;
  margin: 0 auto;
  height: 92px;
  width: auto;
  padding-top: 80px;
}
header {
  position: fixed;
  top: 0px;
  right: 0px;
}
.search-box {
  margin: auto;
  width: 500px;
}

.button {
  margin: 0px auto;
  width: 25%;
  padding-top: 20px;
}
